@import url('https://fonts.cdnfonts.com/css/mont');

:root {
    font-family: 'Mont', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --first-color: #3186b8;
}

body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    height: auto;
    color: #fff;
}

a {
    font-weight: 1000;
    color: var(--first-color);
    text-decoration: inherit;
}

h1 {
    margin: 0;
    margin-bottom: 3rem;
    font-size: 3.2em;
    line-height: 1.1;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

h1,
h2 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--first-color);
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

button {
	border-radius: 8px;
	border: 1px solid #575757;
	padding: 0.6em 3em;
    margin-top: 1rem;
	font-size: 1.2rem;
	font-weight: 100;
	font-family: inherit;
    background-color: transparent;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover {
	border-color: var(--first-color);
}


input {
    display: block;
    border: 0;
    padding: 0.5rem 0.5rem;
    background: #272727;
    font-size: 1rem;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

.focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--first-color);
    transition: 0.6s;
}

input:focus ~ .focus-border {
    width: 100%;
    transition: 0.6s;
}

div {
    width: 100%;
}
